node_modules
.next
.git
.worktrees
.vscode
.codex
.superpowers
.playwright-cli

.env
.env.local
.env.*.local
gcp-credentials.json

components/admin
everything-claude-code

*.md
tree.txt
tsconfig.tsbuildinfo
npm-debug.log
