.git
.git/**
node_modules
node_modules/**
.next
.next/**
.env
.env.*
.worktrees
.worktrees/**
.vscode
.co?ex
.superpowers
.playwright-cli
output
*.tsbuildinfo
/TODO.md
/DATABASE-ENVIRONMENTS.md
gcp-credentials.json
